<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
		<key>imageArray</key>
		<array>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
		</array>
		<key>typeinfo</key>
		<dict>
			<key>writer</key>
			<string>老王</string>
			<key>commentcount</key>
			<string>999万</string>
			<key>time</key>
			<string>2017-01-05</string>
			<key>newstype</key>
			<string>国务院</string>
		</dict>
		<key>title</key>
		<string>全国人民注意！这七个字，习总反复的强调！2017年是很重要的一年。特别是从事iOS开发的，还开发个鸡毛啊，回家当市长吧。</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
		<key>imageArray</key>
		<array>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1483702947893&amp;di=fa7f9a37db8df4a85e16a05b119b7b60&amp;imgtype=0&amp;src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201509%2F21%2F20150921045306_X4viG.jpeg</string>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
		</array>
		<key>typeinfo</key>
		<dict>
			<key>writer</key>
			<string>clevlove</string>
			<key>commentcount</key>
			<string>798万</string>
			<key>time</key>
			<string>2017-01-05</string>
			<key>newstype</key>
			<string>游戏</string>
		</dict>
		<key>title</key>
		<string>LPL年年八强，到底是谁的锅。是个盲僧九个秀，还有一个0-9，4396.哈哈哈哈哈哈哈吼吼吼吼，呜呜呜呜，嘟嘟嘟嘟。我草草哦擦。</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
		<key>imageArray</key>
		<array>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
		</array>
		<key>typeinfo</key>
		<dict>
			<key>writer</key>
			<string>二狗子</string>
			<key>commentcount</key>
			<string>4396</string>
			<key>time</key>
			<string>2017-01-06</string>
			<key>newstype</key>
			<string>艺术</string>
		</dict>
		<key>title</key>
		<string>这不是菊花，这是什么花。</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
		<key>imageArray</key>
		<array>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1483702947893&amp;di=079a44b4e6e52d8fa0d10e7f53c01546&amp;imgtype=0&amp;src=http%3A%2F%2Fimg5.duitang.com%2Fuploads%2Fitem%2F201502%2F27%2F20150227003001_mmYzK.thumb.700_0.jpeg</string>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
		</array>
		<key>typeinfo</key>
		<dict>
			<key>writer</key>
			<string>clevlove</string>
			<key>commentcount</key>
			<string>798万</string>
			<key>time</key>
			<string>2017-01-05</string>
			<key>newstype</key>
			<string>游戏</string>
		</dict>
		<key>title</key>
		<string>这是什么鸡巴？</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
		<key>imageArray</key>
		<array>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1483702947893&amp;di=079a44b4e6e52d8fa0d10e7f53c01546&amp;imgtype=0&amp;src=http%3A%2F%2Fimg5.duitang.com%2Fuploads%2Fitem%2F201502%2F27%2F20150227003001_mmYzK.thumb.700_0.jpeg</string>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1483703529670&amp;di=5d3798282cbca635567d6fa3ac195eba&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.taopic.com%2Fuploads%2Fallimg%2F140326%2F235113-1403260JR435.jpg</string>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
		</array>
		<key>typeinfo</key>
		<dict>
			<key>writer</key>
			<string>二狗子</string>
			<key>commentcount</key>
			<string>4396</string>
			<key>time</key>
			<string>2017-01-06</string>
			<key>newstype</key>
			<string>艺术</string>
		</dict>
		<key>title</key>
		<string>哈哈哈噢噢噢噢</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
		<key>imageArray</key>
		<array>
			<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2878546921,283444172&amp;fm=23&amp;gp=0.jpg</string>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1483703529670&amp;di=5d3798282cbca635567d6fa3ac195eba&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.taopic.com%2Fuploads%2Fallimg%2F140326%2F235113-1403260JR435.jpg</string>
		</array>
		<key>typeinfo</key>
		<dict>
			<key>writer</key>
			<string>老王</string>
			<key>commentcount</key>
			<string>999万</string>
			<key>time</key>
			<string>2017-01-05</string>
			<key>newstype</key>
			<string>国务院</string>
		</dict>
		<key>title</key>
		<string>萨拉黑打开的界面的卡密的可免单大奖拿大奖南大街安迪及案件的看俺打卡机呢德拉蒙德卡拉曼达克拉没抵抗力</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
		<key>imageArray</key>
		<array>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1483702947893&amp;di=079a44b4e6e52d8fa0d10e7f53c01546&amp;imgtype=0&amp;src=http%3A%2F%2Fimg5.duitang.com%2Fuploads%2Fitem%2F201502%2F27%2F20150227003001_mmYzK.thumb.700_0.jpeg</string>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1483703529670&amp;di=5d3798282cbca635567d6fa3ac195eba&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.taopic.com%2Fuploads%2Fallimg%2F140326%2F235113-1403260JR435.jpg</string>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
		</array>
		<key>typeinfo</key>
		<dict>
			<key>writer</key>
			<string>二狗子</string>
			<key>commentcount</key>
			<string>4396</string>
			<key>time</key>
			<string>2017-01-06</string>
			<key>newstype</key>
			<string>艺术</string>
		</dict>
		<key>title</key>
		<string>哈哈哈噢噢噢噢</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
		<key>imageArray</key>
		<array>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1483702947893&amp;di=fa7f9a37db8df4a85e16a05b119b7b60&amp;imgtype=0&amp;src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201509%2F21%2F20150921045306_X4viG.jpeg</string>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
		</array>
		<key>typeinfo</key>
		<dict>
			<key>writer</key>
			<string>clevlove</string>
			<key>commentcount</key>
			<string>798万</string>
			<key>time</key>
			<string>2017-01-05</string>
			<key>newstype</key>
			<string>游戏</string>
		</dict>
		<key>title</key>
		<string>LPL年年八强，到底是谁的锅。是个盲僧九个秀，还有一个0-9，4396.哈哈哈哈哈哈哈吼吼吼吼，呜呜呜呜，嘟嘟嘟嘟。我草草哦擦。</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
		<key>imageArray</key>
		<array>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1483702947893&amp;di=fa7f9a37db8df4a85e16a05b119b7b60&amp;imgtype=0&amp;src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201509%2F21%2F20150921045306_X4viG.jpeg</string>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
			<string>http://img1.mypsd.com.cn/20101207/Mypsd_2980_201012072217130009B.jpg</string>
		</array>
		<key>typeinfo</key>
		<dict>
			<key>writer</key>
			<string>clevlove</string>
			<key>commentcount</key>
			<string>798万</string>
			<key>time</key>
			<string>2017-01-05</string>
			<key>newstype</key>
			<string>游戏</string>
		</dict>
		<key>title</key>
		<string>LPL年年八强，到底是谁的锅。是个盲僧九个秀，还有一个0-9，4396.哈哈哈哈哈哈哈吼吼吼吼，呜呜呜呜，嘟嘟嘟嘟。我草草哦擦。</string>
	</dict>
</array>
</plist>
