<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>commentCount</key>
		<string>5657</string>
		<key>readerCount</key>
		<string>555</string>
		<key>writer</key>
		<string>陈翔六点半</string>
		<key>writerAvtarUrl</key>
		<string>方法</string>
		<key>topic</key>
		<string>这是什么东西</string>
		<key>cover</key>
		<string>http://vimg1.ws.126.net/image/snapshot/2017/1/P/F/VC8PCF6PF.jpg</string>
		<key>mp4_url</key>
		<string>http://flv2.bn.netease.com/videolib3/1701/01/diFGq4703/SD/diFGq4703-mobile.mp4</string>
	</dict>
	<dict>
		<key>commentCount</key>
		<string>5657</string>
		<key>readerCount</key>
		<string>555</string>
		<key>writer</key>
		<string>陈翔六点半</string>
		<key>writerAvtarUrl</key>
		<string>方法</string>
		<key>topic</key>
		<string>这是什么东西</string>
		<key>cover</key>
		<string>http://vimg3.ws.126.net/image/snapshot/2017/1/K/G/VC9DEMSKG.jpg</string>
		<key>mp4_url</key>
		<string>http://flv2.bn.netease.com/tvmrepo/2017/1/J/P/EC9DE7JJP/SD/EC9DE7JJP-mobile.mp4</string>
	</dict>
	<dict>
		<key>commentCount</key>
		<string>5657</string>
		<key>readerCount</key>
		<string>555</string>
		<key>writer</key>
		<string>陈翔六点半</string>
		<key>writerAvtarUrl</key>
		<string>方法</string>
		<key>topic</key>
		<string>这是什么东西</string>
		<key>cover</key>
		<string>http://vimg1.ws.126.net/image/snapshot/2017/1/P/F/VC8PCF6PF.jpg</string>
		<key>mp4_url</key>
		<string>http://flv2.bn.netease.com/videolib3/1701/01/diFGq4703/SD/diFGq4703-mobile.mp4</string>
	</dict>
	<dict>
		<key>commentCount</key>
		<string>5657</string>
		<key>readerCount</key>
		<string>555</string>
		<key>writer</key>
		<string>陈翔六点半</string>
		<key>writerAvtarUrl</key>
		<string>方法</string>
		<key>topic</key>
		<string>这是什么东西</string>
		<key>cover</key>
		<string>http://vimg1.ws.126.net/image/snapshot/2017/1/P/F/VC8PCF6PF.jpg</string>
		<key>mp4_url</key>
		<string>http://flv2.bn.netease.com/videolib3/1701/01/diFGq4703/SD/diFGq4703-mobile.mp4</string>
	</dict>
	<dict>
		<key>commentCount</key>
		<string>5657</string>
		<key>readerCount</key>
		<string>555</string>
		<key>writer</key>
		<string>陈翔六点半</string>
		<key>writerAvtarUrl</key>
		<string>方法</string>
		<key>topic</key>
		<string>这是什么东西</string>
		<key>cover</key>
		<string>http://vimg3.ws.126.net/image/snapshot/2017/1/K/G/VC9DEMSKG.jpg</string>
		<key>mp4_url</key>
		<string>http://flv2.bn.netease.com/tvmrepo/2017/1/J/P/EC9DE7JJP/SD/EC9DE7JJP-mobile.mp4</string>
	</dict>
	<dict>
		<key>commentCount</key>
		<string>5657</string>
		<key>readerCount</key>
		<string>555</string>
		<key>writer</key>
		<string>陈翔六点半</string>
		<key>writerAvtarUrl</key>
		<string>方法</string>
		<key>topic</key>
		<string>这是什么东西</string>
		<key>cover</key>
		<string>http://vimg1.ws.126.net/image/snapshot/2017/1/P/F/VC8PCF6PF.jpg</string>
		<key>mp4_url</key>
		<string>http://flv2.bn.netease.com/videolib3/1701/01/diFGq4703/SD/diFGq4703-mobile.mp4</string>
	</dict>
</array>
</plist>
